<ion-header>
  <ion-toolbar>
    <ion-buttons solt="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hommmy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="=bienvenidos">
    <img scrc="" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>encontre aqui a república perfeita para este momento</ion-card-subtitle>
      <ion-card-title>A casa da temporada</ion-card-title>
    </ion-card-header>

      <p>
        Hommy é um app que visa facilitar o contato entre locador e locatário. Deixando tudo de maneira mais direta
      </p>

  </ion-card>
</ion-content>




