<ion-header>
  <ion-toolbar>
    <ion-buttons solt="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hommmy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="=bienvenidos">
    <img scr="" alt=""/>
    <io-card-header>
      <ion-card-subtitle>A sua casa da temporada</ion-card-subtitle>
      <ion-card-title>bem{{title}}</ion-card-title>
    </io-card-header>
    <ion-content>
      <p>
        Venha passar uma temporada conosco
      </p>
    </ion-content>
  </ion-card>
</ion-content>




